ion-toolbar {
    --background : rgba(0, 0, 0, 0.993);
    
}
ion-content {
    --background : rgba(6, 19, 77, 0.973);

}
ion-card {
    --background: rgb(255, 254, 254);
}
ion-button {
    --background : rgb(81, 81, 82);
}
ion-card-title {
    color: aliceblue;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    
}
