ion-toolbar {
    --background : rgba(0, 0, 0, 0.993);
    
}
ion-content {
    --background : rgba(6, 19, 77, 0.973);
} 
ion-card-title {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: aliceblue;
}
ion-button {
    --background : rgba(59, 59, 59, 0.582);
}